/**********************************************
                 common css                            
***********************************************/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.button {
    background-color: #fe6868;
    text-decoration: none;
    color: #fff;
    padding: 12px 18px;
    border-radius: 6px;
}

/**********************************************
                 header area                            
***********************************************/
.header-part {
    background-image: linear-gradient(to bottom, transparent, black), url(img/header-img.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-part h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-size: 700;
    color: #fff;
    line-height: 80px;
    margin-bottom: 18px;
}

.header-part p {
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 38px;
}

/**********************************************
                 donate area-1                 
***********************************************/
.text-align{
    text-align: center;
    margin-top: 90px;
}
.text-align h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
}
.content-area{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 42px;
}
.content-area .money-area{
    display: flex;
    justify-content: space-around;
    padding: 26px 178px;
}
.money-area .money-child{
    /* background-color: dimgrey; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 26px;
}
.money-area .money-child h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(152, 152, 152);
}
#money-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 26px;
    border: 2px solid #fe6868;
    background-color: #fde2e2;
    border-radius: 5px;
}
#money-child h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fe6868;
}
.input-text{
    text-align: center;
}
.input-text input{
    width: 50%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: rgb(152, 152, 152);
    text-align: center;
    padding-bottom: 6px;
    margin-bottom: 52px;
    outline: none;
}

/**********************************************
                 donate area-2                 
***********************************************/
.plan{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
#plan-child-1{
    padding: 4% 2%;
    background-color: #47eafc1d;
    margin: 0 1%;
    border-radius: 10px;
}
#plan-child-2{
    padding: 4% 2%;
    background-color: #fde2e26f;
    margin: 0 1%;
    border-radius: 10px;
}
#plan-child-3{
    padding: 4% 2%;
    background-color: #ffefc5a9;
    margin: 0 1%;
    border-radius: 10px;
}

/**********************************************
                 update area                 
***********************************************/
.subscribe{
    display: flex;
    justify-content: center;
    background-color: #ffefc5ba;
    padding: 86px;
    margin: 50px 132px 0;
}
.subscribe input{
    width: 414px;
    height: 45px;
    outline: none;
    border: none;
    background-color: rgba(213, 213, 213, 0.68);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    padding-left: 16px;
    font-size: 16px;
}
.subscribe .button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/**********************************************
                 footer area                 
***********************************************/
footer .text-align{
    padding: 26px 0;
    background-color: rgb(47, 47, 47);
}
footer .text-align h1{
    font-family: 'Lobster', cursive;
    color: #fe6868;
}
footer .text-align p{
    color: #fff;
}